@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mempercantik Scrollbar untuk daftar ucapan */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #C5A880;
  border-radius: 10px;
}